body {
  margin: 0;
  /* position: relative; */
  background-color: rgba(222, 184, 135, 0.671);
}

img {
  width: 100%;
  height: 240px;
  transition: transform 400ms ease-out;
}

.search-form {
  background-color: rgb(158, 135, 104);
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: -1;
  z-index: 3;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.search-input {
  width: 300px;
  padding: 10px;
  font-style: italic;
  font-size: 15px;
  border-radius: 15px 0px 0px 15px;
  border-color: transparent;
  outline: none;
}

.search-btn {
  border-color: transparent;
  background-color: #fff;
  width: 40px;
  height: 41px;
  background-image: url('../img/search-interface-symbol.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-radius: 0px 15px 15px 0px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin-top: 15px;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.photo-card {
  box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 300ms linear, transform 300ms ease-out;
  background-color: #fff;
}

.photo-card:hover {
  box-shadow: 0.1rem 0.4rem 0.4rem rgb(185, 117, 27);
  transform: scale(1.1);
}

.load-more {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
.is-hidden {
  display: none;
}

.load-more {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 41px;
  font-style: italic;
  transition: box-shadow 300ms linear, background-color 300ms linear;
}

.load-more:hover {
  box-shadow: 0.1rem 0.4rem 0.4rem rgb(185, 117, 27);
  background-color: #fff;
}
